body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
section{
    height: 600px;
    padding-bottom: 200px;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
    padding-top: 15%;
}
h1 span{
    color: rgb(73, 104, 7);
}
.half-width img{
    width: 100%;
    padding-bottom: 10%;
}
p{
    color: dimgray;
}
.button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(238, 19, 19), rgb(251, 6, 198));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-coppy{
    background-image: url("images/shapes/Frame\ 57.jpg");
    background-repeat: no-repeat;
    

}
.center{
    text-align: center;
}


.recipies{
	
	width: 80%;
    margin:auto;
    text-align: center;
   
}
.recipies-head {
	
    padding: 15px;

}
.recipies-head h1{
	font-size: 30px;
    padding-bottom: 15px;
    color: rgb(97, 90, 90);
}
.recipies-head p{
	max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    color: rgb(97, 90, 90);
	
}
.recipies-item{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.recipies-type{
	
    flex-basis: 31%;
    background-color: rgb(248, 248, 255);
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px rgba(0, 0,0, 0.2);

}
.recipies-type img{
    width: 100%;
    height: 200px;
    border-radius: 17px;
}
.recipies-type h3{
	text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: rgb(97, 90, 90);
}
.recipies-type p{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(97, 90, 90);
}


.service{
	
	width: 80%;
    margin:auto;
    text-align: center;
}
.service-head {	
    padding: 12px;
 }
.service-head h1{
	font-size: 30px;
    padding-bottom: 15px;
    color: rgb(230, 78, 78);
}
.service-head p{
	max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    color: rgb(97, 90, 90);
	
}
.service-item{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}
.service-type{
	
    flex-basis: 31%;
    background-color: rgb(235, 235, 253);
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px rgba(0, 0,0, 0.2);

}
.service-type img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}
.service-type h3{
	text-align: center;
    font-weight: 700;
    margin: 10px 0;
   
}
.service-type p{
    width: 100%;
    padding: 13px;
    text-align: center;
    margin-bottom: 22px;
    color: rgb(97, 90, 90);
}



.man-power{
    width: 60%;
    margin:auto;
    text-align: center;
    margin-bottom: -100px;
}
.power-type{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 1% 8%;
    border-radius: 15px;
    box-shadow: 10px 10px 40px rgb(245, 205, 205);
}
.power-type h1{
    margin: 0;
    text-align: start;
}
.footer {
    margin-top: -586px;
    min-height: 50px;
    text-align: center;
    background-color: rgb(238, 36, 63);
    color: mintcream;
    margin-bottom: 20;
}
.footer h1{
    padding-top: 30px;
    color: rgb(128, 17, 238);
}
.footer h3{
    color: rgb(22, 34, 253);
}


